.statistic-card-warp {
	padding: 20px;
	text-align: center;
	overflow: hidden;
}

.app-card-warp {
	margin: 20px 0;
}

.home-warp {
	.container {
		display: flex;
		justify-content: center;
		.info-card {
			height: fit-content;
			margin-left: 20px;
			min-height: 250px;
			max-width: 25vw;
		}
	}

	.footer-wrap {
		color: rgba(29,29,31,.6);
		text-align: center;
		padding-top: 30px;
		font-size: 12px;
		.link {
			color: inherit;
			font-size: 12px;
		}
	}
}
